[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
hypercorn = "*"
websockets = "*"
paho-mqtt = "*"
python-dotenv = "*"
sqlalchemy = "*"
common-python = {editable = true, path = "./../../common-python"}
aiokafka = "*"

[dev-packages]

[requires]
python_version = "3.11"
